<a href="https://colab.research.google.com/github/jjbmsda/Study/blob/main/%EC%9E%AC%EA%B7%80%EC%9A%A9%EB%B2%95(recursive_call).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def factorial(num):
  if num > 1:
    return num * factorial(num-1)
  else:
    return num

In [2]:
for num in range(10):
  print(factorial(num))

0
1
2
6
24
120
720
5040
40320
362880

In [ ]:
# 시간복잡도 : O(n)

In [6]:
def multiple2(num):
  return_value = 1
  for index in range(1, num+1):
    return_value = return_value * index
  return return_value

In [7]:
def multiple(num):
  if num <= 1:
    return num
  return num * multiple(num-1)

In [8]:
multiple(3)

6

In [10]:
import random

data = random.sample(range(100),10)

def sum_list(data):
  if len(data) <= 1:
    return data[0]
  return data[0] + sum_list(data[1:])

sum_list(data)

440

In [13]:
def palindrome(string):
  if len(string) <= 1:
    return True

  if string[0] == string[-1]:
    return palindrome(string[1:-1])
  else:
    return False

print(palindrome('level'))
print(palindrome('love'))

True
False

In [17]:
def func(n):
  print(n)
  if n == 1:
    return n
  
  if n % 2 == 1:
    return(func((3*n)+1))
  else:
    return(func(int(n/2)))

func(3)

3
10
5
16
8
4
2
1

1

In [19]:
def func(data):
  if data == 1:
    return 1
  elif data == 2:
    return 2
  elif data == 3:
    return 4

  return func(data-1) + func(data-2) + func(data-3)

func(5)

13